@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

:root {
    /* Main color */
    --main-color-one: #112d4e;
    --main-color-two: #0f4c75;
    --main-color-three: #3282b8;
    --main-color-four: #bbe1fa;

    /* Lotto color */
    --color-one: #fbc400;
    --color-ten: #69c8f2;
    --color-twenty: #ff7272;
    --color-thirty: #aaaaaa;
    --color-forty: #b0d840;

    /* Font size */
    --header-title: 4.8rem;
    --header-subtitle: 2.4rem;
    --ball-text: 2rem;
    --article-title: 1.6rem;
    --normal-text: 1.4rem;
    --annotation-text: 1.2rem;

    /* Ball size */
    --ball-size: 4rem;

    /* Font family */
    --font-family: 'Noto Sans KR', sans-serif;

    /* Margin */
    --outer-margin: 2rem;
    --inner-margin: 1.5rem;
    --ball-margin: 0.2rem;
}
