.create--container {
    width: 100%;
    position: relative;
    padding: 2rem;
    background-color: var(--palette-color-two);
    color: #fff;
}

.create--box {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.create--title {
    font-size: var(--header-subtitle);
}

.create--explanation {
    text-align: center;
    border-bottom: 0.1rem solid #fff;
    padding-bottom: 0.5rem;
}

.explanation--title {
    font-size: var(--article-title);
    margin-bottom: 0.5rem;
}

.explanation--item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: var(--annotation-text);
}

.create--selectState {
    width: 100%;
    margin: 2.5rem 0;
    display: flex;
    justify-content: center;
}

.selectState--common {
    margin-right: 2rem;
}

.selectState--common h3,
.selectState--special h3 {
    font-size: var(--article-title);
    text-align: center;
    margin-bottom: 1.5rem;
}

.selectState--common ul,
.selectState--special ul {
    display: flex;
}

.selectState--common ul li,
.selectState--special ul li {
    width: 2.6rem;
    height: 2.6rem;
    background-color: #fff;
    border-radius: 50%;
    color: #000;
    font-size: var(--normal-text);
    text-align: center;
    line-height: 1.8;
}

.selectState--common ul li:not(:last-child),
.selectState--special ul li:not(:last-child) {
    margin-right: 0.4rem;
}

.commonNum label:hover,
.specialNum label:hover {
    cursor: pointer;
}

.selectState--common .common--selectNum .commonNum input[type='checkbox'],
.selectState--special .special--selectNum .specialNum input[type='checkbox'] {
    display: none;
}

.selectState--common .common--selectNum .commonNum label,
.selectState--special .special--selectNum .specialNum label {
    display: inline-block;
    width: 2.6rem;
    height: 2.6rem;
    background-color: #fff;
    border-radius: 50%;
}

.selectState--common
    .common--selectNum
    .commonNum
    input[type='checkbox']:checked
    + label,
.selectState--special
    .special--selectNum
    .specialNum
    input[type='checkbox']:checked
    + label {
    display: inline-block;
    width: 2.6rem;
    height: 2.6rem;
    color: #fff;
    border-radius: 50%;
}

.selectState--common
    .common--selectNum
    .commonNum
    input[type='checkbox']:checked
    + label {
    background-color: var(--color-ten);
}

.selectState--special
    .special--selectNum
    .specialNum
    input[type='checkbox']:checked
    + label {
    background-color: var(--color-thirty);
}

.create--numOfGame {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.numOfGame--title {
    font-size: var(--article-title);
    margin-bottom: 1.5rem;
}

.numOfGame--select {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 50%;
    margin-bottom: 1.5rem;
}

.numOfGame--select .numOfGame {
    width: 2.6rem;
    height: 2.6rem;
    background-color: #fff;
    border-radius: 50%;
    color: #000;
    font-size: var(--normal-text);
    text-align: center;
    line-height: 1.8;
    margin: 0 0.2rem 0.4rem 0.2rem;
}

.numOfGame label:hover {
    cursor: pointer;
}

.numOfGame--select .numOfGame input[type='radio'] {
    display: none;
}

.numOfGame--select .numOfGame label {
    display: inline-block;
    width: 2.6rem;
    height: 2.6rem;
    background-color: #fff;
    border-radius: 50%;
}

.numOfGame--select .numOfGame input[type='radio']:checked + label {
    display: inline-block;
    width: 2.6rem;
    height: 2.6rem;
    color: #fff;
    border-radius: 50%;
    border: 1px solid var(--color-forty-five);
    background-color: var(--color-forty-five);
}

.create--btn {
    font-size: var(--normal-text);
    background-color: #fff;
    outline: none;
    border: 0;
    border-radius: 0.5rem;
    letter-spacing: 1.25;
    width: 21rem;
    height: 2.8rem;
}

.create--btn:hover {
    cursor: pointer;
    background-color: #000;
    color: #fff;
}
