.create--container {
    width: 100%;
    position: relative;
    padding: 2rem;
    background-color: var(--main-color-two);
    color: #fff;
}

.create--box {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.create--title {
    font-size: var(--header-subtitle);
}

.create--explanation {
    text-align: center;
    border-bottom: 0.1rem solid #fff;
    padding-bottom: 0.5rem;
    margin-top: 0.5rem;
}

.explanation--item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: var(--annotation-text);
}

.explanation--top {
    display: flex;
    justify-content: center;
}

.explanation--title {
    font-size: var(--article-title);
    margin-bottom: 0.5rem;
    display: flex;
    justify-content: center;
}

.explanation--arrow {
    border: none;
    background: none;
    padding: 0;
    margin: 0;
    height: 2.4rem;
    cursor: pointer;
}

.explanation--arrow > svg {
    width: 2.4rem;
    height: 2.4rem;
    fill: #fff;
}

.explanation--logic {
    display: none;
    flex-direction: column;
    align-items: flex-start;
    font-size: var(--annotation-text);
    height: 0;
    overflow: hidden;
    opacity: 0;
    transform: translateY(-100%);
}

.explanation--logic.on {
    animation: fadeIn 1s ease-out;
    animation-fill-mode: forwards;
    display: flex;
}

.explanation--logic.off {
    animation: fadeOut 1s ease-out;
}

@keyframes fadeOut {
    0% {
        height: 100%;
        overflow: visible;
        opacity: 1;
        transform: translateY(0);
        display: flex;
    }

    25% {
        height: 75%;
        overflow: hidden;
        opacity: 0.5;
        transform: translateY(0);
        display: flex;
    }

    100% {
        height: 0;
        overflow: hidden;
        opacity: 0;
        transform: translateY(-100%);
        display: none;
    }
}

@keyframes fadeIn {
    0% {
        height: 0;
        opacity: 0;
        overflow: hidden;
        transform: translateY(-100%);
        display: none;
    }

    25% {
        height: 25%;
        opacity: 0.5;
        overflow: hidden;
        transform: translateY(-50%);
        display: flex;
    }

    100% {
        height: 100%;
        opacity: 1;
        overflow: visible;
        transform: translateY(0);
        display: flex;
    }
}

.create--selectState {
    width: 100%;
    margin: 1.5rem 0;
    display: flex;
    justify-content: center;
}

.selectState--common {
    margin-right: 2rem;
}

.selectState--common h3,
.selectState--special h3 {
    font-size: var(--article-title);
    text-align: center;
    margin-bottom: 1.5rem;
}

.selectState--common ul,
.selectState--special ul {
    display: flex;
}

.selectState--common ul li,
.selectState--special ul li {
    width: var(--ball-size);
    height: var(--ball-size);
    background-color: #fff;
    border-radius: 50%;
    color: #000;
    font-size: var(--ball-text);
    text-align: center;
    line-height: 1.8;
}

.selectState--common ul li:not(:last-child),
.selectState--special ul li:not(:last-child) {
    margin-right: 0.4rem;
}

.commonNum label:hover,
.specialNum label:hover {
    cursor: pointer;
}

.selectState--common .common--selectNum .commonNum input[type='checkbox'],
.selectState--special .special--selectNum .specialNum input[type='checkbox'] {
    display: none;
}

.selectState--common .common--selectNum .commonNum label,
.selectState--special .special--selectNum .specialNum label {
    display: inline-block;
    width: var(--ball-size);
    height: var(--ball-size);
    background-color: #fff;
    border-radius: 50%;
}

.selectState--common
    .common--selectNum
    .commonNum
    input[type='checkbox']:checked
    + label,
.selectState--special
    .special--selectNum
    .specialNum
    input[type='checkbox']:checked
    + label {
    display: inline-block;
    width: var(--ball-size);
    height: var(--ball-size);
    color: #fff;
    border-radius: 50%;
}

.selectState--common
    .common--selectNum
    .commonNum
    input[type='checkbox']:checked
    + label {
    background-color: var(--color-one);
}

.selectState--special
    .special--selectNum
    .specialNum
    input[type='checkbox']:checked
    + label {
    background-color: var(--color-twenty);
}

.create--numOfGame {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1.5rem;
}

.numOfGame--title {
    font-size: var(--article-title);
    margin-bottom: 1.5rem;
}

.numOfGame--select {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 50%;
    margin-bottom: 1.5rem;
}

.numOfGame--select .numOfGame {
    width: var(--ball-size);
    height: var(--ball-size);
    background-color: #fff;
    border-radius: 50%;
    color: #000;
    font-size: var(--ball-text);
    text-align: center;
    line-height: 1.8;
    margin: 0 0.2rem 0.4rem 0.2rem;
}

.numOfGame label:hover {
    cursor: pointer;
}

.numOfGame--select .numOfGame input[type='radio'] {
    display: none;
}

.numOfGame--select .numOfGame label {
    display: inline-block;
    width: var(--ball-size);
    height: var(--ball-size);
    background-color: #fff;
    border-radius: 50%;
}

.numOfGame--select .numOfGame input[type='radio']:checked + label {
    display: inline-block;
    width: var(--ball-size);
    height: var(--ball-size);
    color: #fff;
    border-radius: 50%;
    border: 1px solid var(--color-forty);
    background-color: var(--color-forty);
}

.create--btn {
    font-size: var(--normal-text);
    font-weight: bold;
    background-color: #fff;
    outline: none;
    border: 0;
    border-radius: 0.5rem;
    letter-spacing: 1.25;
    width: 21rem;
    height: 2.8rem;
}

.create--btn:hover {
    cursor: pointer;
    background-color: #000;
    color: #fff;
}
