.list--container {
    width: 100%;
    padding: 2rem;
    background-color: var(--palette-color-three);
    color: #fff;
}

.list--box {
    width: 100%;
    height: 35rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: visible scroll;
}

.list--box::-webkit-scrollbar {
    display: none;
}

.list--title {
    font-size: var(--header-subtitle);
    margin-bottom: 0.5rem;
}

.list--caution {
    width: 80%;
    font-size: var(--annotation-text);
    margin-bottom: 1.5rem;
    text-align: center;
}

.list--lotto-ball {
    display: flex;
    margin-bottom: 1.5rem;
}

.list--lotto-ball li {
    margin: 0 0.2rem;
}

.list--ball {
    border-radius: 50%;
    font-size: var(--normal-text);
    width: 2.6rem;
    height: 2.6rem;
    text-align: center;
    line-height: 1.8;
}

.list--ball-one {
    background-color: var(--color-ten);
}

.list--ball-two {
    background-color: var(--color-twenty);
}
.list--ball-three {
    background-color: var(--color-forty);
}

.list--ball-four {
    background-color: var(--color-forty);
}

.list--ball-five {
    background-color: var(--color-forty);
}

.list--ball-six {
    background-color: var(--color-forty-five);
}
