.container {
    width: 100%;
    font-family: var(--font-family);
}

.part-one {
    background-color: var(--color-ten);
}

.part-two {
    background-color: var(--color-twenty);
}

.part-three {
    background-color: var(--color-thirty);
}

.part-four {
    background-color: var(--color-forty);
}

.part-five {
    background-color: var(--color-forty-five);
}

@media screen and (min-width: 1024px) {
    .container {
        width: 50%;
        margin: 0 auto;
    }
}
