.suggestion--container {
    width: 100%;
    padding: 2rem;
    background-color: var(--main-color-one);
    color: #fff;
}

.suggestion--box {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.suggestion--title {
    font-size: var(--header-subtitle);
    margin-bottom: 1.5rem;
}

.refresh--btn {
    font-size: var(--normal-text);
    background-color: #fff;
    outline: none;
    border: 0;
    border-radius: 0.5rem;
    letter-spacing: 1.25;
    width: 21rem;
    height: 2.8rem;
    margin-top: 1.5rem;
    font-weight: bold;
}
